<a href="https://colab.research.google.com/github/Chris-Adigwe/Machine-Learning-Regression---Predicting-Energy-Efficiency-of-Buildings/blob/master/Copy_of_Machine_Learning_Regression_Predicting_Energy_Efficiency_of_Buildings_Assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import os
import numpy as np

In [ ]:
pwd

'/content'

In [ ]:
cd ..

/

In [ ]:
cd ..

/

In [ ]:
os.listdir()

['lib',
 'tmp',
 'media',
 'dev',
 'home',
 'boot',
 'etc',
 'bin',
 'lib64',
 'run',
 'mnt',
 'sbin',
 'var',
 'root',
 'usr',
 'proc',
 'sys',
 'srv',
 'opt',
 '.dockerenv',
 'tools',
 'datalab',
 'tensorflow-1.15.2',
 'content',
 'lib32',
 'python-apt']

In [ ]:
path = path = 'C:\\Users\\USER\\Desktop\\Hamoye\\Lesson 2 - regression'

In [ ]:
os.chdir(path)

In [ ]:
df = pd.read_csv('energydata_complete.csv')

In [ ]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [ ]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
os.chdir(path)

In [ ]:
pwd

'C:\\Users\\USER\\Desktop\\Hamoye'

In [ ]:
x = df['T2']
y = df['T6']

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [ ]:
x = np.array(x).reshape(-1,1)
y = np.array(y)

In [ ]:
model.fit(x, y)

LinearRegression()

In [ ]:
from sklearn.metrics import r2_score

r_square = r2_score(y, x)
round(r_square, 2)

-3.72

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
df.drop(['date', 'lights'], axis='columns', inplace=True)

In [ ]:
normalised_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

In [ ]:
normalised_df

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [ ]:
target = normalised_df['Appliances']

In [ ]:
features_df = normalised_df.drop(columns=['Appliances'])

In [ ]:
target

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [ ]:
features_df

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,0.339590,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,0.338487,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,0.337585,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,0.336583,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,0.336583,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

In [ ]:
#spliting the data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df,target, test_size = 0.3, random_state=42)

In [ ]:
#importing LinearRegression
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

In [ ]:
#training the dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [ ]:
#predicting values of y
predicted_values = linear_model.predict(x_test)

In [ ]:
#Mean AbsolUTE eRROR (MAE)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae,2)

0.05

In [ ]:
#RSS

RSS = np.sum(np.square(y_test - predicted_values))
round(RSS,2)

45.34

In [ ]:
from sklearn.metrics import mean_squared_error

#ROOT MEAN SQUARED ERROR
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse,2)

0.09

In [ ]:
from sklearn.metrics import r2_score

r_square = r2_score(y_test, predicted_values)
round(r_square, 2)

0.15

In [ ]:
weights = pd.Series(linear_model.coef_, x_train.columns).sort_values()
weights = pd.DataFrame(weights).reset_index()

In [ ]:
weights.sort_values(0)

          index             0
0           rv1 -3.022856e+11
1          RH_2 -4.565423e-01
2         T_out -3.216544e-01
3            T2 -2.360091e-01
4            T9 -1.898187e-01
5          RH_8 -1.575253e-01
6        RH_out -7.756698e-02
7          RH_7 -4.466305e-02
8          RH_9 -3.985639e-02
9            T5 -1.584368e-02
10           T1 -3.281051e-03
11  Press_mm_hg  6.818144e-03
12           T7  1.032840e-02
13   Visibility  1.230043e-02
14         RH_5  1.598628e-02
15         RH_4  2.640965e-02
16           T4  2.900353e-02
17    Windspeed  2.915808e-02
18         RH_6  3.806797e-02
19         RH_3  9.600293e-02
20           T8  1.019727e-01
21    Tdewpoint  1.176157e-01
22           T6  2.364003e-01
23           T3  2.905467e-01
24         RH_1  5.535282e-01
25          rv2  3.022856e+11

In [ ]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha = 0.4)

In [ ]:
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [ ]:
ridge_values = ridge_reg.predict(x_test)

In [ ]:
#ROOT MEAN SQUARED ERROR
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_values))

In [ ]:
round(ridge_rmse, 2)

0.09

In [ ]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha = 0.001)

In [ ]:
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [ ]:
weights = pd.Series(lasso_reg.coef_, x_train.columns)
weights = pd.DataFrame(weights).reset_index()
weights[weights['index'] != 0].count()

index    26
0        26
dtype: int64

In [ ]:
lasso_values = lasso_reg.predict(x_test)

In [ ]:
#ROOT MEAN SQUARED ERROR
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_values))
round(lasso_rmse,3)

0.094