<a href="https://colab.research.google.com/github/Chris-Adigwe/Machine-Learning-Regression---Predicting-Energy-Efficiency-of-Buildings/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
#import the libraries 
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import mean_absolute_error

In [66]:
#load the data
from google.colab import files 
uploaded = files.upload()

Saving data.csv to data (1).csv

In [70]:
df = pd.read_csv('data.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [71]:
#drop the date and lights columns
df = df.drop(columns=['date','lights'])
df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [72]:
#rename columns
column_names = { 
    "T1":"Temperature in kitchen area",
    "RH_1":"Humidity in kitchen area",
    "T2":"Temperature in living room area",
    "RH_2":"Humidity in living room area",
    "T3":"Temperature in laundry room area",
    "RH_3":"Humidity in laundry room area",
    "T4":"Temperature in office room",
    "RH_4":"Humidity in office room",
    "T5":"Temperature in bathroom",
    "RH_5":"Humidity in bathroom",
    "T6":"Temperature outside the building (north side)",
    "RH_6":"Humidity outside the building (north side)",
    "T7":"Temperature in ironing room",
    "RH_7":"Humidity in ironing room",
    "T8":"Temperature in teenager room 2",
    "RH_8":"Humidity in teenager room 2",
    "T9":"Temperature in parents room",
    "RH_9":"Humidity in parents room",
    "T_out":"Temperature outside (from Chievres weather station)",
    "RH_out":"Humidity outside (from Chievres weather station)",
    "rv1":"Random variable 1",
    "rv2":"Random variable 2",
    
}

In [73]:
df = df.rename(columns = column_names)
df

       Appliances  ...  Random variable 2
0              60  ...          13.275433
1              60  ...          18.606195
2              50  ...          28.642668
3              50  ...          45.410389
4              60  ...          10.084097
...           ...  ...                ...
19730         100  ...          43.096812
19731          90  ...          49.282940
19732         270  ...          29.199117
19733         420  ...           6.322784
19734         430  ...          34.118851

[19735 rows x 27 columns]

In [74]:
#firstly, we normalise the dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
Appliances_df = normalised_df['Appliances']

In [75]:
#Now, we split our dataset into training and testing dataset. 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, Appliances_df, test_size = 0.3, random_state=42)

In [76]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain my prediction
predicted_values = linear_model.predict(x_test)

In [77]:
#MAE
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, predicted_values)
round(mae,3)

0.05

In [78]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss,3)

45.348

In [79]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [80]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score,3)

0.149




Ridge

In [87]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [88]:
#obtain my prediction for ridge
predicted_valuesR = ridge_reg.predict(x_test)

In [89]:
#MAE
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, predicted_valuesR)
round(mae,3)

0.05

In [90]:
rss = np.sum(np.square(y_test - predicted_valuesR))
round(rss,3)

45.368

In [91]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_valuesR))
round(rmse,3)

0.088

In [92]:
predicted_valuesT = ridge_reg.predict(x_train)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_train,predicted_valuesT))
round(rmse,3)

0.089

In [93]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_valuesR)
round(r2_score,3)

0.149




LASSO

In [22]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [23]:
#obtain my prediction for ridge
predicted_valuesL = lasso_reg.predict(x_test)

In [24]:
#MAE
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, predicted_valuesL)
round(mae,3)

0.055

In [25]:
rss = np.sum(np.square(y_test - predicted_valuesL))
round(rss,3)

51.853

In [26]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_valuesL))
round(rmse,3)

0.094

In [27]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_valuesL)
round(r2_score,3)

0.027



ELastic

In [28]:
from sklearn.linear_model import ElasticNet
model_enet = ElasticNet(alpha = 0.01)
model_enet.fit(x_train, y_train)

ElasticNet(alpha=0.01, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [29]:
#obtain my prediction for ridge
predicted_valuesE = model_enet.predict(x_test)

In [30]:
#MAE
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, predicted_valuesE)
round(mae,3)

0.057

In [31]:
rss = np.sum(np.square(y_test - predicted_valuesE))
round(rss,3)

53.281

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_valuesE))
round(rmse,3)

0.095

In [33]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_valuesE)
round(r2_score,3)

-0.0




GET WEIGHT FUNCTION

In [34]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of all the feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()

  weights_df = pd.DataFrame(weights).reset_index()

  weights_df.columns = ['Features', col_name]

  weights_df[col_name].round(3)

  return weights_df

In [35]:
linear_model_weights = get_weights_df(linear_model,x_train,'Linear_Model_Weight')

ridge_weights_df = get_weights_df(ridge_reg,x_train,'Ridge_Weight')

lasso_weights_df = get_weights_df(lasso_reg,x_train,'Lasso_Weight')

Elastic_weights_df = get_weights_df(model_enet,x_train,'ElasticNet')

In [36]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights = pd.merge(final_weights, Elastic_weights_df, on='Features')

In [95]:
final_weights

                                             Features  ...  ElasticNet
0                        Humidity in living room area  ...        -0.0
1   Temperature outside (from Chievres weather sta...  ...         0.0
2                     Temperature in living room area  ...         0.0
3                         Temperature in parents room  ...         0.0
4                         Humidity in teenager room 2  ...        -0.0
5    Humidity outside (from Chievres weather station)  ...        -0.0
6                            Humidity in ironing room  ...        -0.0
7                            Humidity in parents room  ...        -0.0
8                             Temperature in bathroom  ...         0.0
9                         Temperature in kitchen area  ...         0.0
10                                  Random variable 1  ...        -0.0
11                                  Random variable 2  ...        -0.0
12                                        Press_mm_hg  ...        -0.0
13                        Temperature in ironing room  ...         0.0
14                                         Visibility  ...         0.0
15                               Humidity in bathroom  ...         0.0
16                            Humidity in office room  ...         0.0
17                         Temperature in office room  ...         0.0
18                                          Windspeed  ...         0.0
19         Humidity outside the building (north side)  ...        -0.0
20                      Humidity in laundry room area  ...         0.0
21                     Temperature in teenager room 2  ...         0.0
22                                          Tdewpoint  ...         0.0
23      Temperature outside the building (north side)  ...         0.0
24                   Temperature in laundry room area  ...         0.0
25                           Humidity in kitchen area  ...         0.0

[26 rows x 5 columns]

In [99]:
final_weights['Lasso_Weight']!=0

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22    False
23    False
24    False
25     True
Name: Lasso_Weight, dtype: bool

# Question 12

In [47]:
#Now, we split our dataset into training and testing dataset. 
X = df['Temperature in living room area'].values.reshape(-1,1)
y = df['Temperature outside the building (north side)'].values.reshape(-1,1)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [53]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
y_pred = regressor.predict(X_test)

In [58]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
round(r2_score,2)

0.65

In [59]:
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, y_pred)
round(mae,2)

2.83

In [60]:
rss = np.sum(np.square(y_test - y_pred))
round(rss,2)

51709.05

In [62]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,2)

3.62