<a href="https://colab.research.google.com/github/Chris-Adigwe/Machine-Learning-Regression---Predicting-Energy-Efficiency-of-Buildings/blob/master/Linear%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the libraries 
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import mean_absolute_error

In [4]:
#load the data
from google.colab import files 
uploaded = files.upload()

Saving data.csv to data.csv

In [9]:
df = pd.read_csv('data.csv')
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [10]:
#drop the date and lights columns
df = df.drop(columns=['date','lights'])
df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [11]:
#firstly, we normalise the dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
Appliances_df = normalised_df['Appliances']

In [12]:
#Now, we split our dataset into training and testing dataset. 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, Appliances_df, test_size = 0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain my prediction
predicted_values = linear_model.predict(x_test)

In [14]:
#MAE
from sklearn.metrics import mean_absolute_error
mae  = mean_absolute_error(y_test, predicted_values)
round(mae,3)

0.05

In [15]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss,3)

45.348

In [16]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [17]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score,3)

0.149

In [18]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [19]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [20]:
from sklearn.linear_model import ElasticNet
model_enet = ElasticNet(alpha = 0.01)
model_enet.fit(x_train, y_train)

ElasticNet(alpha=0.01, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [23]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of all the feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()

  weights_df = pd.DataFrame(weights).reset_index()

  weights_df.columns = ['Features', col_name]

  weights_df[col_name].round(3)

  return weights_df

In [24]:
linear_model_weights = get_weights_df(linear_model,x_train,'Linear_Model_Weight')

ridge_weights_df = get_weights_df(ridge_reg,x_train,'Ridge_Weight')

lasso_weights_df = get_weights_df(lasso_reg,x_train,'Lasso_Weight')

Elastic_weights_df = get_weights_df(model_enet,x_train,'ElasticNet')

In [25]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights = pd.merge(final_weights, Elastic_weights_df, on='Features')

In [26]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight  ElasticNet
0          RH_2            -0.456698     -0.401134     -0.000000        -0.0
1         T_out            -0.321860     -0.250765      0.000000         0.0
2            T2            -0.236178     -0.193880      0.000000         0.0
3            T9            -0.189941     -0.188584     -0.000000         0.0
4          RH_8            -0.157595     -0.156596     -0.000110        -0.0
5        RH_out            -0.077671     -0.050541     -0.049557        -0.0
6          RH_7            -0.044614     -0.046291     -0.000000        -0.0
7          RH_9            -0.039800     -0.041701     -0.000000        -0.0
8            T5            -0.015657     -0.020727     -0.000000         0.0
9            T1            -0.003281     -0.021549      0.000000         0.0
10          rv1             0.000770      0.000743     -0.000000        -0.0
11          rv2             0.000770      0.000743     -0.000000        -0.0
12  Press_mm_hg             0.006839      0.006516     -0.000000        -0.0
13           T7             0.010319      0.010021     -0.000000         0.0
14   Visibility             0.012307      0.012032      0.000000         0.0
15         RH_5             0.016006      0.016176      0.000000         0.0
16         RH_4             0.026386      0.024168      0.000000         0.0
17           T4             0.028981      0.027006     -0.000000         0.0
18    Windspeed             0.029183      0.030463      0.002912         0.0
19         RH_6             0.038049      0.035023     -0.000000        -0.0
20         RH_3             0.096048      0.094976      0.000000         0.0
21           T8             0.101995      0.100754      0.000000         0.0
22    Tdewpoint             0.117758      0.076668      0.000000         0.0
23           T6             0.236425      0.213316      0.000000         0.0
24           T3             0.290627      0.287408      0.000000         0.0
25         RH_1             0.553547      0.511932      0.017880         0.0